<header class="c-page__header">
  <h1 style="font-size: 3rem"><span style="color:#7e578e">JOHNNY</span>APPLESEED</h1>
  <!-- <h1>{{ site.title}}</h1> -->
  {% if page.title == 'Home' %}
  <h2>{{ site.description }}</h2>
  {% endif %}
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span
          class="u-separate"></span> <a href="{{ "/projects/" | prepend:
          site.baseurl }}">Projects</a><span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
  </p>
</header>
